// Contact

.template-contact {
    
    
    .section-hero {
        text-align: center;                
    }
    
    
    .section-form-directory {
        
        padding-top: rem-calc(75);  
        
        .entry-content {
            @include breakpoint(large) {
                padding-right: rem-calc(60);
            }
            
            
        }
        
        
        .accordion {
            
            margin-top: rem-calc(20);
            
             .accordion-title::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
                margin-top: 0!important;
                color: $dark-gray;
                font-size: rem-calc(36);
                content: "\002B";
            } 

            
            .is-active>.accordion-title::before {
                content: "\2212";
            }
            
            
            li:first-child {
                
                border-top: 1px solid #f1f4f2; 
                
                > a {
                    color: $red;
                }
            }
            
            li {
                
                
                border-right: 1px solid #f1f4f2; 
                border-left: 1px solid #f1f4f2; 
                border-bottom: 1px solid #f1f4f2; 
                
                img {
                    display: inline-block;
                    margin-right: 10px;   
                }
                
                a {
                    color: #454C54;
                    line-height: 1.611111111; 
                    text-transform: uppercase;
                    font-family: $barlow; 
                }
            }
        }
    }
    
    
    .section-offices {
        background-color: $light-gray;
        margin-top: rem-calc(45);
        padding-top: rem-calc(30);
        
        @include breakpoint(xlarge) {
            margin-top: rem-calc(45);
            padding-top: 0;
        }
        
        header {
            
            padding: 0 4px;
            margin-bottom: rem-calc(70);
            text-align: center;
            
            @include breakpoint(xlarge) {
                position: absolute;
                transform: translateY(90px);
                text-align: left;
                z-index: 3;
            }
            
            ul {
                background: $orange;
                margin: rem-calc(30) auto 0;
                max-width: rem-calc(250);
                
                @include breakpoint(xlarge) {
                    margin: rem-calc(30) 0 0;
                }
                
                li {
                    color: #fff;  
                    font-family: $barlow;
                    text-transform: uppercase;
                    font-size: rem-calc(18); 
                    text-align: center;
                    
                    span {
                        cursor: pointer;
                        display: block;
                        padding: rem-calc( 8 5);
                        
                        &.active {
                            background-color: $navy;
                            border-radius: 2px; 
                            margin: 0 -4px 0;  
                        }
                    }
                }
            }
        }
        
        .full-width {
            @include full-width;    
        }
        
        .details {
            p {
                margin-bottom: 0;   
            }
            
            a {
                color: $dark-gray!important;
            }
        }
        
        .directions {
            margin-top: rem-calc(10);   
        }
    }
}
