// Landing Page

html.sr .single-landing_page main section {
    //visibility: hidden;
}

.single-landing_page {
    
    &:not(.version-3) {
        .site-header,
        main section:not(.section-posts) {
            .wrap {
                margin: 0 auto;
                max-width: rem-calc(1000); 
            }
        }
    
    }
    
    .site-header {
        box-shadow: none;   
    }
    
    .site-header .wrap {
        padding: rem-calc( 20 0);  
    }
   
    
    .section-hero {
        
        @include breakpoint(xlarge) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 13%;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 13' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23f5f5f5' points='0 0, 0 13,40 13'/%3E%3C/svg%3E");
                z-index: 1;
            }

        }
        
        @supports (clip-path: polygon(100% 0, 100% 88%, 64% 100%, 36% 100%, 0 88%, 0 0)) {
            &:before {
                display: none;   
            }
            clip-path: polygon(100% 0, 100% 100%, 100% 100%, 36% 100%, 0 88%, 0 0);
        }
        
        .wrap {
            background-color: rgba(18,55,89,0.7);   
        }
        
        .grid-x {
            &:before {
              content: "";
              width: 1px;
              margin-left: -1px;
              float: left;
              height: 0;
              padding-top: 46%;
            }
            &:after { /* to clear float */
              content: "";
              display: table;
              clear: both;
            }
        }
        
        .hero-content {
            padding-bottom: rem-calc(150);
            
            @include breakpoint(large) {
                padding-bottom: rem-calc(150);   
            }
                        
            img {
                margin-bottom: 20px;  
            }
            
            h1 {
                color: #fff; 
                margin-bottom: 0;   
            }
            
            p {
                color: #ECECEC;
                margin: rem-calc(20 auto 0);  
                max-width: rem-calc(600);
            }
            
            a {
                margin-top: rem-calc(50);   
            }
        }
    }
    
    
    .section-form {
        
        img {
            box-shadow: $box-shadow;    
        }
        
        @include breakpoint(large) {
            .thumbnail {
                padding-right: rem-calc(30);   
            }
        }
           
    }
    
    
    .section-form-v3 {
     
        .panel {
            background: #ffffff;
            box-shadow: $box-shadow;   
            position: relative;
            z-index: 2;
            margin: rem-calc(-100) auto rem-calc(40);
            padding: rem-calc(20 40);   
            
            @include breakpoint(large) {
                margin-right: rem-calc(40);
                min-width: rem-calc(520);
            }
        }
        
        .details {
            
            padding-top: rem-calc(30);
            
            img,
            .post-terms-group .cell {
                margin-bottom: rem-calc(25);  
                
                h5 {
                    margin-bottom: rem-calc(5);   
                }
            }
            
            @include breakpoint(large) {
                img {
                    margin-right: rem-calc(20);   
                }
            }   
        }
        
    }
    
    .section-columns {
        .cell {
            .panel > *:last-child {
                margin-bottom: 0;   
            }
        }
        
        @include breakpoint(large) {
            .cell:nth-child(2) .panel {
                padding-left: rem-calc(60);   
            }
        }
    }
    
    &.version-1 {
        
        .section-form {
            
            position: relative;
            z-index: 2;
            
            @include breakpoint(large) {

                .cell {
                                        
                    .panel {
                        padding-bottom: rem-calc(40);   
                    }
                    
                    .thumbnail {
                        position: relative;
                        top: rem-calc(0);
                    }
                }
            }
               
        }
    
        .section-columns {
            background-color: $light-gray;  
            padding: rem-calc(60 0 40); 
            
            @include breakpoint(large) {
                margin-top: rem-calc(-70);
            }
        }
    
    }
    
    .section-details {
        h5 {
            margin-bottom: rem-calc(5);   
        }
        
    }
 
    
    &.version-2 {
        .section-details {
            margin-top: rem-calc(30); 
            background-color: $light-gray;
            padding-top: rem-calc(25);
            
            .wrap {
                max-width: 860px;
            }
            
            img,
            .post-terms-group .cell {
                margin-bottom: rem-calc(25);   
            }
            
            @include breakpoint(large) {
                img {
                    margin-right: rem-calc(40);   
                }
            }
        }
        
        .section-columns {
            padding-top: rem-calc(75);   
        }
    }
    
    
    &.version-3 {
        
        .site-title {
            margin: 0 auto;
        }
        
        .section-columns {
            
            padding-top: rem-calc(15);
            
            .wrap {
                margin: 0 auto;
                max-width: rem-calc(1000); 
            }   
        }
    }
 
    .section-posts {
        margin-top: rem-calc(75);   
        
        header {
            margin-bottom: rem-calc(60);   
        }
        
        .grid {
            @include breakpoint(large) {
                @include xy-grid-layout(3, '.cell', true, 10);
                @include xy-gutters(10, 'margin', $negative:true); // negative for the nested grid
                
                .cell {
                    margin-bottom: rem-calc(10);   
                }
            }   
        }
    }
    
    .post {
        background: $dark-gray;
        position: relative;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center;
        box-shadow: 0 11px 12px 0 rgba(0,0,0,0.1);
        
        &:before {
          content: "";
          width: 1px;
          margin-left: -1px;
          float: left;
          height: 0;
          padding-top: 65%;
        }
        &:after { /* to clear float */
          content: "";
          display: table;
          clear: both;
        }
        
        .panel {
            background-color: rgba(0,0,0,0.7);
            width: 100%;
            
            &:hover {
                background-color: rgba(71,68,71,0.8);
            }
            
            padding: rem-calc(30 15);
            text-align: center; 
            
            @include breakpoint(large) {
                padding: rem-calc(60 30);
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            
            .term-link {
                display: block;
                color: #fff; 
                position: relative;
                z-index: 3;  
                
                &:hover {
                    color: $orange;   
                }
            }
            
            h4,
            h3 {
                color: #fff; 
            }
            
            h3 {
                margin-bottom: 0;   
            }
            
            a.post-link {
                display: block;
                
                color: #fff;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 2;  
                }
            }
        }
    }
    
    
    
    .site-footer {
        margin-top: rem-calc(30);
        
        .copyright {
            text-align: center;      
        }
    }
 
    
}




