// Page
body {
	//max-width: 2560px;
	//margin: 0 auto;
}

@include breakpoint(xlarge) {
    .compensate-for-scrollbar .site-header {
        width: calc(100% - 15px);
    }   
}

.page-template-default {
    
    .section-hero {
        background-color: $navy;
        
        h1 {
            color: #fff;   
        }
    }
    
    .site-main {
        padding-top: rem-calc(75);
    }
    
}

.error404 {
    
    .section-hero {
        background-color: $navy;
        text-align: center;
        
        h1 {
            color: #fff;   
        }
    }
    
    .site-main {
        padding-top: rem-calc(75);
            
        @include breakpoint(large) {
            padding-top: rem-calc(150);
        } 
        
        
        padding-bottom: rem-calc(50);
        
        @include breakpoint(xxlarge) {
            padding-bottom: rem-calc(100);
        } 
        
        .button-wrapper {
            padding-top: rem-calc(40);   
        }
    }
    
 }