// Single Post

.single-post {
            
    .content-area {
        max-width: rem-calc(768);
        margin: rem-calc(45) auto 0;
        margin-bottom: rem-calc(45);   
    }
                
    article {
        
        > img:first-child {
            margin-bottom: rem-calc(30);
        }
        
        .post-categories {
            display: flex;
            @include list-reset;
            margin: 0;
            flex-wrap: wrap;
    
            li {
                display: inline-block;
                margin-bottom: 16px;
                padding: 0;
                
                &:not(:last-child) {
                    &:after {
                        content: ", ";  
                        margin-right: 3px; 
                    }
                }
            }
            
            a {
                font-family: $barlow;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.7px;
                line-height: 22px;
            }
        }
                        
        .entry-content {
            
            .wp-block-button,
            .wp-block-gallery,
            .wp-block-quote,
            .wp-block-cover,
            .wp-block-media-text {
                margin-bottom: $global-margin;   
            }
            
            .wp-block-media-text {
                .wp-block-media-text__content {
                    padding: 0;   
                }
                
                @include breakpoint(medium down) { 
                    
                    &:not(.has-media-on-the-right) figure {
                        margin-bottom: $global-margin;
                    }
                
                }
            }
            
            @include breakpoint(xlarge) {
                
                .wp-block-media-text {
                    figure {
                        margin-left: -75px;
                    }
                    
                    .wp-block-media-text__content {
                        padding: rem-calc(0 0 0 30);   
                    }
                                        
                    &.has-media-on-the-right {
                        figure {
                            margin-left: 0;
                            margin-right: -75px;
                        }
                        
                        .wp-block-media-text__content {
                            padding: rem-calc(0 30 0 0);   
                        }
                    }
                    
                    
                }
                
                
            }
        }
        
        
    }
        
    .share {
        background: $orange;
        padding: rem-calc(25 0 15);  
        
        h4 {
            color: #fff;   
        }
        
        .share-icons {
            display: flex;
            justify-content: center;
            @include list-reset;
            margin: 0 rem-calc(-10);
        
            li {
                display: inline-block;
                margin-bottom: 16px;
                padding: 0 rem-calc(10);
            }
        
            a {
                color: #fff;
                transition: 250ms;
                width: 32px;
                height: 32px;
                display: block;
                border: 2px solid #fff;
                border-radius: 50%;
                position: relative;
        
                &:hover {
                    background-color: #fff;
                    color: $orange;
        
                    &:hover {
                        svg {
                            fill: $orange;
                        }
                    }
                }
            }
        
            svg {
                width: 22px;
                height: auto;
                fill: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }   
        }
    }
    
}
