// Single Modal


.single-modal {
    
    background-color: #f4f9f6;

    .sticky-header,
    .section-footer-cta,
    .footer-widgets,
    .site-footer,
    #query-monitor-main {
        display: none;   
    }
    
    .site-main {
        margin: 0 auto;
        max-width: rem-calc(600);
        padding-top: rem-calc(40);   
    }
    
}
