// Single Fleet

.single-fleet {
    
    .site-main {
        padding-top: rem-calc(75);   
    }
    
}

.fleet-ajax {
        
    header {
        .cell:last-child {
            
            @include breakpoint(medium) {
                display: flex;
                align-items: flex-start;
                margin-top: rem-calc(10);
                
                h5 {
                    margin-right: rem-calc(20); 
                    margin-top: 6px;
                }
            }
        }
    }
    
    h2 {
        margin-bottom: rem-calc(10);   
    }
    
    .share-icons {
        justify-content: flex-start;
    }
    
    article {
        margin-bottom: rem-calc(20);   
    }
    
    .details {
        @include breakpoint(large) {
            @include xy-grid-layout(2, '.cell', true, 10);
            @include xy-gutters(10, 'margin', $negative:true); // negative for the nested grid
            
            .cell {
                margin-bottom: rem-calc(10);   
            }
        }      
    }
    
    footer {
        
        @include breakpoint(large) {
            margin-top: rem-calc(40);   
        }
     
        .cell {
            background-color: $light-gray;  
            
            .panel {
                padding: rem-calc(60 40);  
                
                @include breakpoint(medium down) {
                    h4 {
                        margin-bottom: rem-calc(10);   
                    }
                }
                
                p {
                    margin-bottom: rem-calc(40);   
                }
            }
        }
        
        
    }
    
    
    
}
