// Team

.template-team {
    
    .section-hero {
        text-align: center;   
    }
 
 
    .section-people {
        
        padding-top: rem-calc(100);
        
        .facetwp-facet {
            
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            div[data-value="all"] {
                order: 999;   
            }
            
            .facetwp-radio {
                padding-left: 0;
                
                &:before,
                &:after {
                    display: none;   
                }
                
                &.checked {
                    color: $orange;   
                }
            }
        }
                
        .grid-item {
            margin-bottom: rem-calc(50);
            position: relative;
            
            .thumbnail {
                background-size: cover;
                background-position: center;
                box-shadow: 0 11px 12px 0 rgba(0,0,0,0.12);   
                padding-top: 56.25%;  
            }
            
            a.post-title {
                display: block;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 2;  
                }
            }
            
            footer {
                margin-top: rem-calc(20);
                @include clearfix;
                padding: rem-calc(0 50 0 10);
            }
            
            h3 {
                margin-bottom: 0;   
                text-transform: none;
            }
            
            .position {
                color: #979797;
                font-size: rem-calc(15); 
                line-height: 1.333333333;
                margin-bottom: 0;  
                margin-top: rem-calc(5);   
            }

            .linkedin {
                display: block;
                width: 44px;
                height: 44px;
                padding: 10px;
                color: #ffffff;
                float: right;
                position: relative;
                top: -44px;
                right: -40px;
                z-index: 3;
                
                svg {
                    background: $orange;   
                }
            }
        }
        
    }
    
}


.people-modal {
    background: transparent;
    width: rem-calc(600);
    padding: rem-calc(44 22);
    
    
    
    .fancybox-button--close, .fancybox-close-small {
        background: transparent;
        width: 50px !important;
        height: 50px !important;
        color: #ffffff !important;
        padding: 0;
        right: 10px;
        top: -5px;
        opacity: 1;
    }
    
    .people-modal-content {
        background: #eff3f1;   
        padding: rem-calc(30); 
        position: relative;
        overflow: hidden;
        z-index: 1;  
        border-radius: 4px;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50vw;
            height: 12vw;
            margin-top: calc(-12vw + 70px);
            background-color: #ffffff;
            transform-origin: right bottom;
            transform: rotate(-13deg);
            z-index: -1;   
        }
    }
    
    h3 {
       margin-bottom: 0; 
    }
    
    img {
        box-shadow: 0 11px 12px 0 rgba(0,0,0,0.12);   
        margin-top: rem-calc(5);
        margin-bottom: rem-calc(30);
    }
        
    .panel {
        position: relative;
        
        &.padding-left {
            padding-left: rem-calc(40);   
        }
                        
        .linkedin {
            display: block;
            width: 24px;
            height: 24px;
            background: $orange;
            color: #ffffff;
        }                
        
        .linkedin {
            position: absolute;
            top: 0;
            left: 0;   
        }
        
    }   
}