.block-erickson-advantage {
        
        padding: rem-calc(75 0 0 0);
        
        header {
            margin-bottom: rem-calc(50);    
        }
                        
        .slider {
            position: relative;  
            
            @include full-width;  
                        
            .slick {
                margin-bottom: 0;   
            }
        }
        
        .slider {
            opacity: 0;
            visibility: hidden;
            height: 500px;
            
            &.images-loaded  {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }
        
        .slide {
            position: relative;
        }
        
        .background {
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        
        .slide-content {
            display: flex;
            align-items: center;  
            background-color: $navy;
            opacity: .7; 
            
            min-height: 50vh;
            padding: rem-calc(50);
            
            @include breakpoint(medium) {
                min-height: 75vh;
                padding: rem-calc(150);
            }
            
            @include breakpoint(large) {
                width: 50%;
            }
        }
        
        .entry-content {
            
            > * {
                color: #fff;   
            }            
        }
        
        .slick-tabs {
            border-top: 1px solid #979797;
            text-align: center;
            display: none;
            
            @include breakpoint(large) {
                display: block;
            }
            
            ul {
                justify-content: center;
            }
            
            li {
                cursor: pointer;
                padding: rem-calc(10 18);
                
                &.active {
                    background-color: $orange;
                    color: #ffffff;   
                }
            }            
        }
        
        
        .slick-arrows {
            display: none!important;
            @include breakpoint(large) {
                display: block!important;
                
                .slick-prev,
                .slick-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);   
                }
            } 
            
            .slick-prev {
                left: rem-calc(44);   
            }
            
            .slick-next {
                right: rem-calc(44);   
            }
        }
        
        .slick-dots {
            position: static;
            bottom: auto;  
            margin-bottom: rem-calc(50);
                        
            @include breakpoint(large) {
                display: none!important;
            } 
        }
    }