// Block: Codes


.is-mobile .block-codes {
    z-index: 4;
}

.block-codes {
    
    margin-top: rem-calc(75);
    position: relative;
        
    &.background-color-blue {
        background-color: $navy;
        padding: rem-calc(75 0);
        
        header {
            > * {
                color: #fff;   
            }
        }
        
        @include breakpoint(large) {
            
            margin-bottom: rem-calc(100);   
            
            .grid {
                margin-bottom: rem-calc(-100);
            }
        }
        
        @include breakpoint(xlarge) {
             @include hero-edges;
             
             &:before,
             &:after {
                z-index: 1;   
             }
             
        }
    }
    
    header {
        
        h2 {
            margin-bottom: rem-calc(30);   
        }
        
        margin-bottom: rem-calc(75);
    }
    
    .grid {
        
        position: relative;
        z-index: 3;
        box-shadow: $box-shadow;  
        

        .cell {
            background-color: #fff; 
             &:first-child {
                /*
                @include breakpoint(large) {
                    box-shadow: $box-shadow; 
                }
                */
             }
        }
        
        .panel {
            position: relative;
            z-index: 2;
            @include breakpoint(large) {
                box-shadow: $box-shadow; 
            }
            
            div:nth-child(even) {
                background: #f8f7f7;
                position: relative;
                //z-index: -1;
            }
        }
        
        .header {
            background: $orange;
            padding: rem-calc(15 40);
            text-align: center; 
            
            h3 {
                color: #fff;
                font-size: rem-calc(22);
                margin-bottom: 0;   
            }
        }
        
        .text {
            padding: rem-calc(30 40 30 40);  
            
            p:last-of-type {
                margin-bottom: 0;     
            }
            
            @include breakpoint(small only) {
                
                span {
                    display: none;   
                }
                
                .text:empty {
                    display: none;   
                }
            }
        }
    }
}
