// Block: Contracts


.is-mobile .block-contracts {
    z-index: 4;
}

.block-contracts {
    
    margin-top: rem-calc(75);   
    position: relative;
    
    
    &.background-color-blue {
        background-color: $navy;
        padding: rem-calc(75 0);
        
        header {
            > * {
                color: #fff;   
            }
        }
        
        @include breakpoint(large) {
            
            margin-bottom: rem-calc(100);
            
            .grid {
                margin-bottom: rem-calc(-100);
            }
        }
        
        @include breakpoint(xlarge) {
             @include hero-edges;
             
             &:before,
             &:after {
                z-index: 1;   
             }
             
        }
    }
        
    
    header {

        h2 {
            margin-bottom: rem-calc(30);   
        }
        
        margin-bottom: rem-calc(75);
    }
    
    .header {
        background: $orange;
        padding: rem-calc(15 40);
        text-align: center; 
        
        h3 {
            color: #fff;
            font-size: rem-calc(22);
            margin-bottom: 0;   
        }
    }
    
    .grid {
        
        position: relative;
        z-index: 3;
        box-shadow: $box-shadow;  
        

        @include breakpoint(large) {
            
            &:after {
                content: '';
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                top: 0;
                box-shadow: $box-shadow;    
            }
            
        }   
        
        
        > .cell {
            background-color: #fff; 
            
            &:nth-child(even) {
                background: #f8f7f7;
            }
                         
        }
            
        .panel {
            padding: rem-calc(50 40 50 40); 
            @include clearfix; 
            
            @include breakpoint(medium down) {
                &.panel-odd {
                    padding-top: 0;   
                }
            }
                        
            p:last-of-type {
                margin-bottom: 0;     
            } 
            
            .thumbnail {
                
                margin-bottom: 30px;
                
                @include breakpoint(medium) {
                    float: left;
                    margin-right: rem-calc(30);
                }   
            }
            
            .text {
                overflow: hidden;   
            }
            
            img {
                width: 150px;
                height: auto;   
            }
            
            
        }
    }
}
