// Fleet

.block-fleet {
    padding-top: rem-calc(75);  
    
    header {
        margin-bottom: rem-calc(60);   
    }
    
    .grid {
        @include breakpoint(large) {
            @include xy-grid-layout(3, '.cell', true, 10);
            @include xy-gutters(10, 'margin', $negative:true); // negative for the nested grid
            
            .cell {
                margin-bottom: rem-calc(10);   
            }
        }   
    }
}