// Jobs

.block-jobs {
        
    padding-top: rem-calc(75);
    padding-bottom: rem-calc(75);

    
    h2 {
        text-align: center; 
        
        margin-bottom: rem-calc(10);  
        
        @include breakpoint(medium-large) {
            margin-bottom: rem-calc(100);   
        }
    }
 
    .entry-content {
        max-width: rem-calc(1000); 
        margin: 0 auto;  
    }
            
}