// Block: Offices

.block-offices {
	background-color: $light-gray;
	margin-top: rem-calc(45);
	padding-top: rem-calc(30);
	
	@include breakpoint(xlarge) {
		margin-top: rem-calc(45);
		padding-top: 0;
	}
	
	header {
		
		padding: 0 4px;
		margin-bottom: rem-calc(70);
		text-align: center;
		
		@include breakpoint(xlarge) {
			position: absolute;
			transform: translateY(90px);
			text-align: left;
			z-index: 3;
		}
		
		ul {
			background: $orange;
			margin: rem-calc(30) auto 0;
			max-width: rem-calc(250);
			
			@include breakpoint(xlarge) {
				margin: rem-calc(30) 0 0;
			}
			
			li {
				color: #fff;  
				font-family: $barlow;
				text-transform: uppercase;
				font-size: rem-calc(18); 
				text-align: center;
				
				span {
					cursor: pointer;
					display: block;
					padding: rem-calc( 8 5);
					
					&.active {
						background-color: $navy;
						border-radius: 2px; 
						margin: 0 -4px 0;  
					}
				}
			}
		}
	}
	
	.full-width {
		@include full-width;    
	}
	
	.details {
		p {
			margin-bottom: 0;   
		}
		
		a {
			color: $dark-gray!important;
		}
	}
	
	.directions {
		margin-top: rem-calc(10);   
	}
}