// Photo Gallery

.block-photo-gallery {
        
    padding-top: rem-calc(75);  

    header {
        margin-bottom: rem-calc(60); 
        
        .share {
            margin-top: rem-calc(30);
            display: none;
            
            h4 {
                margin-bottom: rem-calc(10);   
            }
        }
    }
 
    .slider {
        position: relative;   
    }
 
    .slick {
        
        
        .slick-slide {
            position: relative;
            height: 40vh;
            width: 100vw;
            
            @include breakpoint(landscape) {
                height: 80vh;
            }
            
            @include breakpoint(large) {
                height: 80vh;
                width: 75vw!important;   
            }
            
            .background-image {
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;   
            }
            
            img {
                opacity: 0;
                visibility: hidden;                    
            }
            
            .slick-caption {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: rem-calc(10 20);
                background-color: rgba($navy, .8); 
                color: #fff;  
                opacity: 0;
                font-size: rem-calc(16);
            }
            
            &.slick-active .slick-caption {
                opacity: 1;
            }
            
            
            &[aria-hidden="true"] {
                //cursor: pointer;
                position: relative;
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(255,255,255,0.8);
                }
            }
        }   
    }
    
    .slick-dots {
        bottom: auto;
        margin-top: rem-calc(20);
        position: relative;   
        
        @include breakpoint(large) {
            display: none!important;
        }
    }
    
    .slick-arrows {
        @include breakpoint(medium down) {
            display: none!important;
        }
        
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 2px solid $gray;
            
            &.slick-prev {
                left: calc(12.5vw / 2);
                margin-left: -31px;
                
                &:before {
                    margin-left: -2px;   
                    @include slick-arrow( $gray );
                }
                
                &:hover:before {
                    @include slick-arrow( $orange );
                }
            }
            
            &.slick-next {
                right: calc(12.5vw / 2);
                margin-right: -31px;
                
                &:before { 
                    @include slick-arrow( $gray, right );
                }
                
                &:hover:before {
                    @include slick-arrow( $orange, right );
                }
            }
            
            &:hover {
                border-color: $orange;   
            }
        }
    }
    
}