// Add to Any


.share-icons {
    
    display: flex;
    justify-content: center;
    @include list-reset;
    margin: 0 rem-calc(-10);

    li {
        display: inline-block;
        margin-bottom: 16px;
        padding: 0 rem-calc(10);
    }

    a {
        color: $orange;
        transition: 250ms;
        width: 32px;
        height: 32px;
        display: block;
        border: 2px solid $orange;
        border-radius: 50%;
        position: relative;

        &:hover {
            background-color: $orange;

            &:hover {
                svg {
                    fill: $white;
                }
            }
        }
    }

    svg {
        width: 22px;
        height: auto;
        fill: $orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}
