/*
Header
---------------------------------------------- */

// Fix for sticky header
.logged-in .site-header.fixed {

    @include breakpoint(xlarge) {
        top: 32px!important;
    } 
 }
 
 .sticky-header {
    height: rem-calc(47);
    
    @include breakpoint(xlarge) {
        height: rem-calc(65);
    }
 }
 

.site-header {
    
    .logo-white {
        display: none;   
    }
    
    @include breakpoint(large down) {
        .site-title {
            width: rem-calc(249);
        }
    }
    
    position: relative;
    z-index: 999;
        
    @include breakpoint(xlarge) {
                        
        &.fixed {
            position: fixed!important;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            background: $white!important;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
            
            
            .site-branding {
                @include breakpoint(xlarge) {
                    padding-top: rem-calc(19);
                    padding-bottom: rem-calc(19);
                }   
            }
                        
            .site-title {
                width: rem-calc(216);
            }
                
        }
            
    }
}

.site-header {
    
    .wrap {
        max-width: $global-width;
        margin: 0 auto;  
        position: relative;
        
        
    }

	.site-branding {
        
        
        
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
                        
        
        @include breakpoint(xxxlarge) {
            max-width: 100%;
        }
        
        .site-title {
            
            max-width: rem-calc(216);
            margin-right: rem-calc(75);   
            
            @include breakpoint(xlarge) {
                margin-right: 0;   
                max-width: rem-calc(216);
            }
        }
	}

	.menu-toggle {
		@include hamburger($black, $black, 28px, 24px, 3px, 3);
		position: absolute;
		top: 12px;
		right: 20px;
		@include breakpoint(medium) {
			top: 12px;
		    right: 20px;
		}

		@include breakpoint(xlarge) {
			display: none;
		}
	}

	.nav-secondary {
		@include breakpoint(large) {
			padding: 60px 0 0;
		}
	}
	
}
