
/*
.has-menu-item-emergency add padding bottom on desktop
.disabled links remove cursor and hover styles
*/

.nav-primary {
	background-color: #252B33;
    display: none;
    
    // fix small device spacing issues
    @include breakpoint(large down) {
        //margin-left: -5px;
        //width: calc(100vw - 15px );
        padding-left: 0!important;
        padding-right: 0!important;   
    }

	@include breakpoint(xlarge) {
		background-color: #ffffff;
        display: block;
        
        flex: 1 1 auto;
        
        display: flex!important;
        flex-flow: row nowrap;
        align-items: center;  
        justify-content: flex-end;
        
        .menu-secondary {
            order: 2;
        }
        
        .menu-primary {
            order: 1;
            
        }
	}

	.menu-primary {
		position: static;

		@include breakpoint(xlarge) {
			justify-content: flex-end;
            
            > .menu-item:not(.mega-menu-item) {
                padding-bottom: 12px;
                margin-bottom: -12px;   
            }
		}
        
        @include breakpoint(xxlarge) {
            margin-left: rem-calc(60);
		}
        
        
        
        > .menu-item {
            > a {
                text-transform: uppercase;     
                
                @include breakpoint(xlarge only) {
                    padding-left: rem-calc(10)!important;
                    padding-right: rem-calc(10)!important;
                } 
            }
        }
       
        
        .menu-item {
            display: block;
            @include breakpoint(xlarge) {
                text-align: center;
            }
            
            a {
                color: #fff;
                font-size: rem-calc(15);
                
                line-height: 21/18;

                padding-top: rem-calc(14);
                padding-bottom: rem-calc(14);
                
                padding-left: rem-calc(map-get($grid-column-gutter, small));
                padding-right: rem-calc(map-get($grid-column-gutter, small)); 
               
               
                @include breakpoint(medium) {
                    padding-left: rem-calc(map-get($grid-column-gutter, medium)); 
                    padding-right: rem-calc(map-get($grid-column-gutter, medium)); 
                }
                
                @include breakpoint(large) {
                    padding-left: rem-calc(map-get($grid-column-gutter, large)); 
                    padding-right: rem-calc(map-get($grid-column-gutter, large));
                }
                
                @include breakpoint(xlarge) {
                    color: $dark-gray;
                    padding: $global-menu-padding;
                    font-size: rem-calc(15);
                    
                    &:hover {
                        //color: $navy;
                        //font-weight: 600;   
                    }
                }
                
                @include breakpoint(xxlarge) {
                    font-size: rem-calc(16);
                }
                
                
                
                h5 {
                    color: inherit;  
                    margin-bottom: 0; 
                    
                    @include breakpoint(large down) {
                        font-family: $body-font-family;
                        text-transform: none;
                    }
                }
    
            }
            
            @include breakpoint(xlarge) {
                &.current-menu-ancestor,
                &.current_page_parent {
                    > a {
                        color: $navy;   
                    }
                }
            }
        }
        
        .sub-menu {
                    
            background: $navy;
            margin: 0;
            
            .sub-menu {
                background: $orange;   
            }
            
            @include breakpoint(large down) {
                .menu-item-image {
                    display: none;   
                }
            }
            
            @include breakpoint(xlarge) {
                background: #fff; 
                border-top: 5px solid $orange; 
            }

            .menu-item {
                text-align: left; 
                
                a {
                    
                    @include breakpoint(large down) {
                        padding-top: rem-calc(13);
                        padding-bottom: rem-calc(13);
                    }
                    
                    &:hover {
                        color: $white;  
                        
                        @include breakpoint(xlarge) {
                            color: $navy;   
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        
        @include breakpoint(large down) {
            .is-dropdown-submenu {
                position: static;
                top: inherit;
                left: inherit;
                border: none;  
                margin-left: 0; 
            }

        }
        
        
	}
    	
}

#secondary-menu {
    
    @include breakpoint(large down) {
        li {
            width: 100%;
            
            a {
                &:before,
                &:after {
                    display: none;   
                }
                
                clip-path: none;
                text-align: left;
                font-family: $body-font-family;
                font-size: rem-calc(15);
                font-weight: 400;
                
                padding-left: rem-calc(map-get($grid-column-gutter, small));
                padding-right: rem-calc(map-get($grid-column-gutter, small)); 
               
               
                @include breakpoint(medium) {
                    padding-left: rem-calc(map-get($grid-column-gutter, medium)); 
                    padding-right: rem-calc(map-get($grid-column-gutter, medium)); 
                }
                
                @include breakpoint(large) {
                    padding-left: rem-calc(map-get($grid-column-gutter, large)); 
                    padding-right: rem-calc(map-get($grid-column-gutter, large));
                }
            }
        }
    }
    
    @include breakpoint(xlarge) {
        margin-left: auto;
    }	
}


@include breakpoint(xlarge) {
    .nav-primary .menu-primary .mega-menu-item {
        
        position: static!important;
        
        
        .sub-menu {
            background: $light-gray!important; 
            border: none;
            
            a {
                display: inline-block;   
                text-transform: uppercase;   
            }
        }
        
        > .sub-menu {
            width: 100%;
            left: 0!important;
            top: 100%!important;
            //display: flex; // uncomment to show and style menu
            
            .sub-menu {
                position: static;
                top: auto;
                display: block;
                border: none;   
            }
        }
        
        &.is-active > .sub-menu {
            display: flex;
        }
        
        .first-sub > .menu-item:not(.menu-item-image) {
            padding-top: rem-calc(25);
            padding-bottom: rem-calc(90);
        }
        
        .sub-menu .menu-item-image {

             position: relative;
             
             .image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;  
                
                @supports (clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%)) {
                   clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);  
                }
                
             }
        }
        
        .menu-item-emergency {
            height: auto;
            padding-bottom: 0!important;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            
            .emergency {
                text-align: right; 
                padding: rem-calc(15 15 10 15);
                
                min-height: 43px;
                position: relative;
                padding-right: rem-calc(50);
                
                &:after {
                    content: '';
                    width: 30px;
                    height: 43px;
                    display: inline-block;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 43'%3E%3Cpath fill='%23CF0707' fill-rule='nonzero' stroke='%23CF0707' stroke-width='.4' d='M8.198 41.9a.558.558 0 00.817-.697C5.583 29.83 10.68 24.35 12.858 22.612c-.184 7.34 3.798 12.846 3.99 13.087.14.189.386.27.613.204 1.152-.345 2.92-1.483 4.01-2.223-.305 2.943-1.552 7.55-1.566 7.6a.557.557 0 00.396.683.566.566 0 00.483-.095c.244-.188 5.97-4.642 7.814-12.13 1.866-7.55-3.358-14.921-3.563-15.228a.558.558 0 00-1.015.37c.207 3.74-.674 7.46-2.538 10.72.341-1.982.516-4.899.18-9.15-.859-10.708-10.66-15.353-10.76-15.398a.56.56 0 00-.79.574c.567 4.399-.467 6.342-3.232 11.534a187.754 187.754 0 00-4.164 8.184C-3.204 33.773 8.082 41.822 8.198 41.9zM3.72 21.82c1.65-3.463 3.034-6.058 4.142-8.146 2.585-4.857 3.775-7.09 3.462-11.129 2.359 1.395 8.555 5.813 9.196 13.987.575 7.317-.373 10.452-.984 11.67a2.34 2.34 0 01-.34.533.553.553 0 00.009.786.562.562 0 00.767.014 20.002 20.002 0 005.167-12.665c1.398 2.554 3.588 7.622 2.359 12.629-1.214 4.927-4.284 8.54-6.067 10.303.496-2.04 1.216-5.322 1.216-7.216a.558.558 0 00-.89-.448c-.031.023-2.614 1.917-4.248 2.569-.89-1.358-4.017-6.69-3.473-13.159a.555.555 0 00-.51-.6.548.548 0 00-.325.071c-.083.052-9.036 5.296-5.679 18.882C4.817 37.42-.63 30.963 3.728 21.82H3.72z'/%3E%3C/svg%3E");
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: rem-calc(20);
                }
                
                a {
                    color: $red;
                    display: inline-block;   
                    font-size: rem-calc(18);
                    
                    &:hover {
                        color: $red;
                        //font-weight: 400;   
                    }
                                       
                }

            }
        }
        
        .sub-menu .menu-item .disabled {
            pointer-events: none;
            cursor: text;  
            
            h5 {
                color: $orange;   
                font-family: $header-font-family;
                font-weight: $header-font-weight;
                font-size: rem-calc(18);
                letter-spacing: 0.7px;
                margin-bottom: rem-calc(10);
            }
            
            &:hover {
                background: transparent;   
            }
        }
        
    }
}


@include breakpoint(1400) {
    .mega-menu-item > .sub-menu {
        max-width: rem-calc(1400);   
    }
}