
/*
.has-menu-item-emergency add padding bottom on desktop
.disabled links remove cursor and hover styles
*/

.nav-primary {
	background-color: $dark-gray;
    display: none;

	@include breakpoint(xlarge) {
		background-color: transparent;
        display: block;
        
        flex: 1 1 auto;
        
        display: flex!important;
        flex-flow: row nowrap;
        align-items: center;  
        justify-content: flex-end;
        
        #secondary-menu {
            order: 2;
        }
        
        #primary-menu {
            order: 1;
        }
	}

	.menu {
		position: static;

		@include breakpoint(xlarge) {
			justify-content: flex-end;
		}
        
        > .menu-item:not(.mega-menu-item) {
            padding-bottom: 12px;
            margin-bottom: -12px;   
        }
	}
    

	.menu-item {
		display: block;
		@include breakpoint(xlarge) {
			text-align: center;
		}
        
		a {
			color: #fff;
            font-size: rem-calc(15);
            font-weight: 900;
            line-height: 1.133333333;
            
			padding-top: rem-calc(11.5);
            padding-bottom: rem-calc(11.5);
            
            padding-left: rem-calc(map-get($grid-column-gutter, small)/2); 
            padding-right: rem-calc(map-get($grid-column-gutter, small)/2); 
           
           
            @include breakpoint(medium) {
                padding-left: rem-calc(map-get($grid-column-gutter, medium)/2); 
                padding-right: rem-calc(map-get($grid-column-gutter, medium)/2); 
            }
            
            @include breakpoint(large) {
                padding-left: rem-calc(map-get($grid-column-gutter, large)/2); 
                padding-right: rem-calc(map-get($grid-column-gutter, large)/2);
            }
            
            @include breakpoint(xlarge) {
                color: $dark-gray;
                padding: $global-menu-padding;
            }
            
            &:hover {
                color: $red;   
            }

		}
        
        @include breakpoint(xlarge) {
            &.current-menu-ancestor,
            &.current_page_parent {
                > a {
                    color: $red;   
                }
            }
        }
	}
    
    .sub-menu {
                
        background: $red;
        margin: 0;
        
        @include breakpoint(xlarge) {
            background: #fff;  
        }
        
        
                
        
        
        .menu-item {
            text-align: left; 
            
            a {
                
                @include breakpoint(large down) {
                    padding-top: rem-calc(13);
                    padding-bottom: rem-calc(13);
                }
                
                &:hover {
                    color: $white;  
                    
                    @include breakpoint(xlarge) {
                        color: $red;   
                    }
                }
            }
        }
    }
    
    @include breakpoint(large down) {
        .is-dropdown-submenu {
            position: static;
            top: inherit;
            left: inherit;
            border: none;  
            background-color: $red;
            margin-left: 0; 
        }
    }
}

#secondary-menu {
    
    @include breakpoint(xlarge) {
        margin-left: auto;
    }
    
	.menu-item {

		&.lets-talk {            
            
            @include breakpoint(xlarge) {
                a {
                    @include button(false, $dark-gray, $dark-gray, $white, 'hollow');
                    display: block;
                    margin-bottom: 0;
                    padding-top: rem-calc(11.5);
                    padding-bottom: rem-calc(11.5);
                    
                    
                    &:hover {
                        @include button(false, $red, $red, $white );
                        display: block;
                        margin-bottom: 0;
                        padding-top: rem-calc(11.5);
                        padding-bottom: rem-calc(11.5);
        
                    }
                }
                    
            }
            
            @include breakpoint(xxxlarge) {
                a {
                    min-width: rem-calc(150);
                }
            }
            
       }
        
	}
}


@include breakpoint(xlarge) {
    .mega-menu-item {
        position: static!important;
        
        
        > .sub-menu {
            width: 100%;
            left: 0!important;
            top: 100%!important;
            //display: flex;
            .sub-menu {
                position: static;
                top: auto;
                display: block;
                border: none;   
            }
        }
        
        &.is-active > .sub-menu {
            display: flex;
        }
    }
}


@include breakpoint(1400) {
    .mega-menu-item > .sub-menu {
        max-width: rem-calc(1400);   
    }
}