// Featured Post

.block-featured-post {
    // background-color: $light-gray;
    //margin-top: rem-calc(55);
    padding: rem-calc(75 0 40);  
    
    header {
        margin-bottom: rem-calc(30);   
    }
    
    .cell {
        padding-left: rem-calc(40);
        padding-right: rem-calc(40) ;
    }
    
    .thumbnail {
        background-size: cover;
        background-positoin: center;
        display: block;
        padding-top: 100%;
        border-radius: 50%;
        box-shadow: $box-shadow;
    }
    
    .panel {
        position: relative;            
    }
    
    h3 {
        color: $orange;   
    }
}