section {
    
    .wrap {
        max-width: 2560px;
	    margin: 0 auto;   
    }
    
    header {
        text-align: center;   
        
        svg {
            margin: 0 auto 5px;
        }
        
        h2 {
            margin-bottom: 0;   
        }
        
        p {
            margin: rem-calc(20) auto 0;
            max-width: rem-calc(600);
        }
    }   
}

.main section {
    header {
        margin-bottom: rem-calc(45);
    }
}