// Section Hero

.page-template-default .section-hero {
    margin-bottom: rem-calc(75);
}

.section-hero {
    background-color: $navy;
    position: relative;  
     
    &.has-background-image {        
        background-size: cover;
    }
    
    
    &.has-background-image {
        .hero-content {
            padding: rem-calc(60 0);
            position: relative;
            z-index: 2;
            text-align: center;
            
            @include breakpoint(large) {
                padding: rem-calc(120 0);
            } 
            
            .grid-x {
                min-height: 400px;   
            }
            
            h4,
            p {
                max-width: rem-calc(900);   
            }
        } 
        
        @include breakpoint(xlarge) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 13%;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 13' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23ffffff' points='0 0, 0 13,40 13'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                z-index: 9;
            }
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                right: 0;
                width: 100%;
                height: 13%;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 13' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23ffffff' points='0 0, 0 13,40 13'/%3E%3C/svg%3E");
                transform: scaleX(-1);
                background-repeat: no-repeat;
                z-index: 9;
            }
        }
        
        
        @supports (clip-path: polygon(100% 0, 100% 88%, 64% 100%, 36% 100%, 0 88%, 0 0)) {
            &:before,
            &:after {
                display: none;   
            }
            clip-path: polygon(100% 0, 100% 88%, 64% 100%, 36% 100%, 0 88%, 0 0);
        }    
    }
    
    &.has-background-overlay {
        .wrap {
            background-color: rgba(18,55,89,0.7);   
        }   
    }

}



.section-hero {
      
    .grid-x {
                                        
        // Flexbox Hack - CSS target only IE11 and IE10 (media query)
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            &:after {
              content: '';
              display: block;
              min-height: inherit;
              font-size: 0;
            }
        }
        
    } 
    
}


    
.hero-content {
    
    padding: rem-calc(30 0);
            
    h1 {
        color: #fff; 
        margin-bottom: 0;  
    }
    
    h3 {
        color: #fff; 
        margin-bottom: 0;
        margin-top: rem-calc(30);  
    }
        
    h4,
    p {
        color: #ECECEC;
        margin: rem-calc(20 auto 0);  
    }
    
    p {
        font-size: rem-calc(18);   
    }
    
    > *:last-of-type {
        margin-bottom: 0;
    }
    
    .button {
        margin-top: rem-calc(50); 
        min-width: rem-calc(248);
    } 
    
    .play-video {
        @include play;
        @include pulse;
        margin: 50px auto 0;
        display: block;
        width: 50px;
        height: 50px;
    }
}        

